<div class="jumbotron py-3">
    <h1 class="display-4 text-center">Eating Report Register</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <app-daily-eating-report></app-daily-eating-report>
        </div>
    <div class="col-md-6">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>date</th>
                    <th>meal type</th>
                    <th>food name</th>
                    <th>calories</th>
                   <th>unit</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pd of service.list">
                    <td (click)="populateForm(pd)">{{pd.eatingDate}}</td>
                    
                    <td>
                        <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.id)"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
