
  <div class="jumbotron py-3">
    <h1 class="display-4 text-center">FOOD LIST</h1>
</div>
<div class="">
    
    <div class=" ">
        <div>
            <table class="table">
                <thead class="thead-light">
                 
                    <tr>
                       
                        <th>Food name  |</th>
                        <th class=""></th>
                        <th class=""></th>
                         <th>food nutrients</th>
                       <th class=""></th>
                       <th class=""></th>
                      
                    </tr>
                </thead>
                <tr *ngFor="let food of foodList">
                    <td >{{food.description}}</td>
                    <td *ngFor="let nut of food.foodNutrients">{{nut.name}}={{nut.amount}}:{{nut.unitName}}</td>
                                        
                </tr>
            </table>
        </div>
    </div>
</div>