<form novalidate autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
    <input type="hidden" name="id" [value]="service.formData.id" />

    <div class="form-group">
        <label>eat Date</label>
        <input class="form-control form-control-lg" type="date" placeholder="DD/MM/YYYY" name="eatDate"
            #eatDate="ngModel" [(ngModel)]="service.formData.eatDate"
            required maxlength="10" minlength="10" [class.invalid]="eatDate.invalid &#038;&#038; eatDate.touched">
    </div>
    <br >

 
    <br>
    <div class="form-group">
        <label>food Name</label>
        <input class="form-control form-control-lg" placeholder="Food Name" name="foodName"
            #foodName="ngModel" [(ngModel)]="service.formData.foodName"
            required [class.invalid]="foodName.invalid &#038;&#038; foodName.touched">
    </div>
  
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>calories</label>
            <input  class="form-control form-control-lg" placeholder="calories" name="calories"
                #calories="ngModel" [(ngModel)]="service.formData.calories"
                required maxlength="10" minlength="1" [class.invalid]="calories.invalid &#038;&#038; calories.touched">
        </div>

        <div class="form-group col-md-6">
            <label>unit</label>
            <input  class="form-control form-control-lg" placeholder="unit" name="unit"
                #unit="ngModel" [(ngModel)]="service.formData.unit"
                required maxlength="10" minlength="1" [class.invalid]="unit.invalid &#038;&#038; unit.touched">
        </div>
        
    </div>
    <div class="form-group">
        <button class="btn btn-info btn-lg btn-block" type="submit" [disabled]="form.invalid">SUBMIT</button>
    </div>

    <h4>Select Value</h4>

    <select name="my-select" [(ngModel)]="mySelect" (change)="selectChange()">
        <option [value]="item.fdcId" *ngFor="let item of foodList">
            {{item.description}}
        </option>
    </select>
    
    
    <h4>Selected Values</h4>
    
    <div>
        Selected: {{selectedValue}}
    </div>

    <div class="jumbotron py-3">
        <h1 class="display-4 text-center">FOOD LIST</h1>
    </div>
    <div class="">
        
        <div class=" ">
            <div>
                <table class="table">
                    <thead class="thead-light">
                     
                        <tr>
                           
                            <th>Food name  |</th>
                            <th class=""></th>
                            <th class=""></th>
                             <th>food nutrients</th>
                           <th class=""></th>
                           <th class=""></th>
                          
                        </tr>
                    </thead>
                    <tr *ngFor="let food of foodList">
                        <td >{{food.description}}</td>
                        <td *ngFor="let nut of food.foodNutrients">{{nut.name}}={{nut.amount}}:{{nut.unitName}}</td>
                                            
                    </tr>
                </table>
            </div>
        </div>
    </div>
</form>

