
<div class="jumbotron py-3">
    <h1 class="display-4 text-center">add-daily-goal!</h1>
</div>

<div class="form-group">
    <label>Date of Goal</label>
    <input class="form-control form-control-lg" placeholder="DD/MM/YYYY" name="currentDate" ngModel
    (value) ="date"
        required >
</div>

<br >
  <form novalidate autocomplete="off" #form1="ngForm" (submit)="onBreakFastSubmit(form1)">

    <div class="form-group">
        <div class="jumbotron py-1">
            <h1 class="display-20 text-center">Breakfast</h1>
        </div>     
           <input class="form-control form-control-lg" ngModel placeholder="Food Name" name="name" required >
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">

            <label>calories</label>
        <input class="form-control form-control-lg" ngModel placeholder="calories" name="calories">
       </div>
       <div class="form-group col-md-6">
        <label>unit</label>
    <input class="form-control form-control-lg" ngModel placeholder="unit" name="unit">
</div>
</div>
   

    <div>
        <button class="btn btn-info btn-lg btn-block"  type="submit" [disabled]="form1.form.vaild">Add Food</button>

    </div>

  </form>
  <br>

  <form novalidate autocomplete="off" #form2="ngForm" (submit)="onBreakFastSubmit(form2)">

    <div class="form-group">
        <div class="jumbotron py-1">
            <h1 class="display-20 text-center">Launch</h1>
        </div>          <input class="form-control form-control-lg" ngModel placeholder="Food Name" name="name" required >
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">

            <label>calories</label>
        <input class="form-control form-control-lg" ngModel placeholder="calories" name="calories">
       </div>
       <div class="form-group col-md-6">
        <label>unit</label>
    <input class="form-control form-control-lg" ngModel placeholder="unit" name="unit">
</div>
</div>
   

    <div >       
         <button class="btn btn-info btn-lg btn-block"  type="submit" [disabled]="form2.form.vaild">Add Food</button>


    </div>

  </form>
  
  <br>


  <form novalidate autocomplete="off" #form3="ngForm" (submit)="onBreakFastSubmit(form3)">

    <div class="form-group">
        <div class="jumbotron py-1">
            <h1 class="display-20 text-center">Dinner</h1>
        </div>          <input class="form-control form-control-lg" ngModel placeholder="Food Name" name="name" required >
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">

            <label>calories</label>
        <input class="form-control form-control-lg" ngModel placeholder="calories" name="calories">
       </div>
       <div class="form-group col-md-6">
        <label>unit</label>
    <input class="form-control form-control-lg" ngModel placeholder="unit" name="unit">
</div>
</div>
   

<div >
    <button class="btn btn-info btn-lg btn-block"  type="submit" [disabled]="form3.form.vaild">Add Food</button>

</div>

  </form>
  <br >

  
  <form novalidate autocomplete="off" #form4="ngForm" (submit)="onBreakFastSubmit(form4)">

    <div class="form-group">
        <div class="jumbotron py-1">
            <h1 class="display-20 text-center">Snacks</h1>
        </div>          <input class="form-control form-control-lg" ngModel placeholder="Food Name" name="name" required >
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">

            <label>calories</label>
        <input class="form-control form-control-lg" ngModel placeholder="calories" name="calories">
       </div>
       <div class="form-group col-md-6">
        <label>unit</label>
    <input class="form-control form-control-lg" ngModel placeholder="unit" name="unit">
</div>
</div>
   

    <div >
        <button class="btn btn-info btn-lg btn-block"  type="submit" [disabled]="form4.form.vaild">Add Food</button>
    </div>

  </form>

  <div >
    <button class="btn btn-info btn-lg btn-block"  type="submit"   (click)="submitGoal()">SUBMIT</button>
</div>


  <div *ngIf="isSucceed != null">
      <h1  *ngIf="isSucceed"> הצליח</h1>
      <h1 *ngIf="isSucceed == false"> נכשל</h1>
  </div>